$color-texto: #313437;
$box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
$border-radius: 30px;
$background-btn: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
$color-btn: white;  
$background-color: #a4dadc;


