$color-texto: #313437;
$box-shadow: 0px 0px 5px 1px #9ED3D9;
$box-shadow-animacion: 0px 0px 5px 1px #F79D9C;
$border-radius: 30px;
$background-btn: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
$color-btn: white;  
$background-color: #a4dadc;
$color-rosa:#F79D9C;
$color-gris:#999894;
$color-celeste:#9ED3D9;
$color-marron: #D6AC3E;

